**
!Dockerfile
!src
!src/**
!config
!config/app.php
!config/database.php
!resources
!resources/views
!resources/views/layouts
!resources/views/layouts/**
!resources/views/pages
!resources/views/pages/**
!public
!public/index.php
!public/.htaccess
!public/assets
!public/assets/**
!database
!database/schema.sql
!deploy
!deploy/**
!bin
!bin/**
!tests
!tests/local
!tests/local/**
